// bootstrap override variables
$grid-gutter-width          : 20px;

$font-family-base           : 'Muli', sans-serif;
$font-color-base            : #333333;
$font-family-heading        : 'Oswald', sans-serif;

$navbar-margin-bottom       : 0;
$navbar-height              : 50px;
$navbar-default-bg          : #2b3643;

$page-wrapper-bg            : #edf1f5;

$page-content-padding       : 20px;
$page-content-padding-xs    : 10px;

$footer-height              : 40px;
$footer-font-color          : #7993B0;
