// bootstrap override variables
$grid-gutter-width          : 20px;

$font-family-base           : 'Muli', sans-serif;
$font-color-base            : #333333;
$font-family-heading        : 'Oswald', sans-serif;

$navbar-margin-bottom       : 0;
$navbar-height              : 40px;

$footer-height              : 40px;
