// bootstrap override variables
$grid-gutter-width          : 20px;

$font-family-base           : 'Muli', sans-serif;
$font-color-base            : #333333;
$font-family-heading        : 'Oswald', sans-serif;

$navbar-margin-bottom       : 0;
$navbar-height              : 50px;

$logo-area-width            : 50px;
$logo-area-width-md         : 240px;

$sidebar-top                : $navbar-height;
$sidebar-width-sm           : $logo-area-width-md;

$page-content-padding       : 20px;
$page-content-padding-xs    : 10px;

$footer-height              : 40px;
