#main-header {
    .container-fluid {
        
    }
    
    #logo-area {
        float: left;
        width: 50px;
        max-height: 50px;
        
        a {
            display: block;
            overflow: hidden;
            height: 50px;
            
            .logo-small {
                display: block;
            }
            .logo-large {
                display: none;
            }
        }
    }
    
    .left-menu {
        float: left;
        height: 50px;
        margin-left: $page-content-padding-xs;
    }

    @media (min-width: $grid-float-breakpoint) {
        .container-fluid {
            padding-left: $page-content-padding;
            padding-right: $page-content-padding;
        }
        
        #logo-area {
            width: 200px;
            a {
                .logo-small {
                    display: none;
                }
                .logo-large {
                    display: block;
                }
            }
        }
        
        .left-menu {
            margin-left: $page-content-padding;
        }
    }
}
