#main-sidebar {

	// general style of the list
	ul, li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	ul.sidebar-nav {
		margin-top: 10px;
		margin-bottom: 10px;

		// style list per menu in general
		li {
			&.heading {
				padding: 10px $sidebar-menu-padding-xs 4px $sidebar-menu-padding-xs;
				margin-top: 10px;
				font-weight: 400;
				font-size: 12px;
				line-height: 20px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-family: $font-family-heading;
				border: none;
			}

			// icon size
			i.fa, i.mdi, i.icon- {
				font-size: 18px;
				display: inline-block;
			}
			i.fa {
				vertical-align: -8%;
			}
			i.mdi {
				vertical-align: -3px;
				margin-right: 3px;
				margin-left: 2px;
			}

			> a {
				// with right arrow
				padding: 5px ($sidebar-menu-padding-xs + 15px) 5px $sidebar-menu-padding-xs;
				display: block;
				position: relative;
				font-size: 13px;
				line-height: 20px;

				.label {
					float: right;
					line-height: 14px;
					padding: 1px 8px 4px 8px;
					font-size: 10px;
					font-weight: 300;
					@include border-top-radius(10px);
					@include border-bottom-radius(10px);
				}

				// arrow pull right
				.menu-arrow {
					position: absolute;
					right: 2px;
					top: 6px;
					font-size: 18px;
				}

				&:hover, &:focus {
					text-decoration: none;
				}
			}

			&.active {
				> a {
					> .menu-arrow:before {
						content: ""
					}
				}
			}
		}

		> li {
			// first item of the nav, make it taller

			> a {
				padding-top: 8px;
				padding-bottom: 8px;

				.menu-arrow {
					top: 9px;
				}
				
				&.active {
                    padding-left: $sidebar-menu-padding-xs - $sidebar-menu-active-first-level-border-size;
                    border-left-width: $sidebar-menu-active-first-level-border-size;
                    border-left-style: solid;
                }
			}

			&.heading + li {
				border: none;
			}
			
			&:first-child {
				border: none;
			}
		}

		// submenu definition
		ul.sub-menu {
			> li.first {
				margin-top: 6px;
			}
			> li.last {
				margin-bottom: 6px;
			}

			&.level-2 {
				> li > a {
					padding-left: $sidebar-menu-children-padding;
				}
			}
			&.level-3 {
				> li > a {
					padding-left: $sidebar-menu-children-padding + 10px;
				}
			}
			&.level-4, &.level-5, &.level-6 {
				> li > a {
					padding-left: $sidebar-menu-children-padding + 20px;
				}
			}
		}

		@media (min-width: $screen-sm-min) {
			margin-top: 20px;
			margin-bottom: 20px;
			
			li {
				&.heading {
					padding-left: $sidebar-menu-padding;
					padding-right: $sidebar-menu-padding;
				}
				
				> a {
					padding-left: $sidebar-menu-padding;
					padding-right: $sidebar-menu-padding + 15px;
					
					.menu-arrow {
						right: 2px + $sidebar-menu-padding-diff;
					}
				}
			}
            
            > li {
                > a {
                    &.active {
                        padding-left: $sidebar-menu-padding - $sidebar-menu-active-first-level-border-size;
                    }
                }
            }

			// submenu definition
			ul.sub-menu {
				> li.first {
					margin-top: 6px;
				}
				> li.last {
					margin-bottom: 6px;
				}

				&.level-2 {
					> li > a {
						padding-left: $sidebar-menu-children-padding + $sidebar-menu-padding-diff;
					}
				}
				&.level-3 {
					> li > a {
						padding-left: $sidebar-menu-children-padding + $sidebar-menu-padding-diff + 10px;
					}
				}
				&.level-4, &.level-5, &.level-6 {
					> li > a {
						padding-left: $sidebar-menu-children-padding + $sidebar-menu-padding-diff + 20px;
					}
				}
			}
		}
	}


}


