#main-header .navbar {
  background-color: #2b3643;
}

.navbar-toggle {
  color: white;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  color: white;
}

.navbar-toggle:hover {
  background-color: #313e4c;
}

#main-sidebar {
  background-color: #394859;
  color: #edf1f5;
}

#main-sidebar .sidebar-nav li.heading {
  color: #c6cfda;
}

#main-sidebar .sidebar-nav li > a {
  color: #a7b5c6;
}

#main-sidebar .sidebar-nav li > a:hover {
  color: #b6c2d0;
  background-color: #3d4d5f;
}

#main-sidebar .sidebar-nav li.active > a {
  background-color: #3d4d5f;
}

#main-sidebar .sidebar-nav > li {
  border-top: 1px solid #3f4f62;
}

#main-sidebar .sidebar-nav > li.active > a {
  background-color: #3d4d5f;
}

.sidebar-scroll .scrollator_handle {
  background-color: rgba(200, 200, 200, 0.4);
}

#page-wrapper {
  background-color: #edf1f5;
}

#main-footer {
  background-color: #435468;
  color: #7993B0;
}

#main-footer a {
  color: #99adc3;
}

#main-footer a:hover, #main-footer a:active, #main-footer a:focus {
  color: #a0b2c7;
}
