// variables
@import "../../sass-bootstrap-3/variables";
@import "../global/variables";

@mixin style-generator {
	#main-header {
		.navbar {
			background-color: $navbar-bg;
		}
	}

	.navbar-toggle {
		color: rgba($navbar-toggle-color, 0.6);

		&:hover, &:focus {
			color: $navbar-toggle-color;
		}

		&:hover {
			background-color: lighten($navbar-bg, 3%);
		}
	}
	
	#main-sidebar {
		background-color: $sidebar-bg;
		color: $sidebar-color;
		
		ul.sidebar-nav {
			li {
				// heading color
				&.heading {
					color: $sidebar-heading-color;
				}
				
				> a {
					color: $sidebar-menu-color;
					&:hover {
						color: lighten($sidebar-menu-color, 5%);
						background-color: lighten($sidebar-bg, 2%);
					}
				}
				
				&.active {
					> a {
						background-color: lighten($sidebar-bg, 2%);
					}
				}
			}
			
			> li {
				border-top: 1px solid lighten($sidebar-bg, 3%);
				
				> a {
					&.active {
						border-left-color: $sidebar-menu-active-first-level-border-color;
					}
				}
				
				&.active {
					> a {
						background-color: lighten($sidebar-bg, 2%);
					}
				}
				
				@media (min-width: $screen-sm-min) {
					.main-sidebar-closed & {
						background-color: $sidebar-bg;
						
						ul.level-2 {
							background-color: $sidebar-bg;
						}
					}
				}
			}
		}
	}
	
	// scroll color
	.sidebar-scroll {
		.scrollator_handle {
			background-color: $sidebar-scroll-color;
		}
	}
	
	#page-wrapper {
		background-color: $page-wrapper-bg;
	}
	
	#page-header {
		background-color: $page-header-background-color;
		color: $page-header-color;
		
		.breadcrumb {
			> li {
				> a {
					color: $page-header-breadcrumb-link-color;
					&:hover {
						color: lighten($page-header-breadcrumb-link-color, 10%);
					}
				}
			}
			
			> .active {
				color: $page-header-breadcrumb-active-color;
			}
		}
		.breadcrumb + h1.title {
			border-top-color: $page-header-border-color;
		}
		
		h1.title {
			color: $page-header-title-color;
		}
		.description {
			color: $page-header-description-color;
		}
	}

	#main-footer {
		background-color: $footer-bg;
		color: $footer-color;
		
		a {
			color: lighten($footer-color, 10%);
			
			&:hover, &:active, &:focus {
				color: lighten($footer-color, 12%);
			}
		}
	}
}