@charset "UTF-8";
/**
Yii2 Chopper Template Admin - Main SCSS File
 */
.navbar {
  margin-bottom: 0;
  border: 0;
  height: 50px;
}

.navbar-collapse {
  border: 0;
  padding: 0;
  box-shadow: none;
}

.navbar-toggle {
  float: none;
  font-size: 20px;
  height: 50px;
  padding: 15px 10px;
  line-height: 20px;
  border: 0;
  margin: 0;
  display: inline-block;
  border-radius: 0;
}

.navbar-toggle .mdi {
  top: 0px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

* {
  outline: none !important;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

p {
  margin: 0;
}

p + p {
  margin-top: 10px;
}

#wrapper {
  position: relative;
}

#main-sidebar {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
}

@media (min-width: 768px) {
  #main-sidebar {
    width: 240px;
    bottom: 0;
    max-height: 100%;
  }
}

#page-container {
  position: relative;
}

#page-wrapper {
  position: relative;
}

@media (min-width: 768px) {
  #page-wrapper {
    margin-left: 240px;
  }
}

#main-footer {
  position: relative;
  z-index: 500;
  min-height: 40px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
}

#main-footer a:hover, #main-footer a:active, #main-footer a:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  #main-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#sidebar-menu ul, #sidebar-menu li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#sidebar-menu .sidebar-nav li.heading {
  padding: 10px 15px 4px 15px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald', 'Open Sans', sans-serif;
  border: none;
}

#sidebar-menu .sidebar-nav li i.fa, #sidebar-menu .sidebar-nav li i.mdi, #sidebar-menu .sidebar-nav li i.icon- {
  font-size: 18px;
  display: inline-block;
}

#sidebar-menu .sidebar-nav li i.fa {
  vertical-align: -8%;
}

#sidebar-menu .sidebar-nav li i.mdi {
  vertical-align: -3px;
  margin-right: 3px;
  margin-left: 2px;
}

#sidebar-menu .sidebar-nav li > a {
  padding: 5px 30px 5px 15px;
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 20px;
}

#sidebar-menu .sidebar-nav li > a .label {
  float: right;
  line-height: 14px;
  padding: 3px 8px 3px 8px;
  font-size: 10px;
  font-weight: 300;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#sidebar-menu .sidebar-nav li > a .menu-arrow {
  position: absolute;
  right: 7px;
  top: 6px;
  font-size: 18px;
}

#sidebar-menu .sidebar-nav li > a:hover, #sidebar-menu .sidebar-nav li > a:focus {
  text-decoration: none;
}

#sidebar-menu .sidebar-nav li.active > a > .menu-arrow:before {
  content: "";
}

#sidebar-menu .sidebar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

#sidebar-menu .sidebar-nav > li > a .menu-arrow {
  top: 9px;
}

#sidebar-menu .sidebar-nav > li.heading + li {
  border: none;
}

#sidebar-menu .sidebar-nav > li:first-child {
  border: none;
}

#sidebar-menu .sidebar-nav ul.sub-menu > li.first {
  margin-top: 6px;
}

#sidebar-menu .sidebar-nav ul.sub-menu > li.last {
  margin-bottom: 6px;
}

#sidebar-menu .sidebar-nav ul.sub-menu.level-2 > li > a {
  padding-left: 42px;
}

#sidebar-menu .sidebar-nav ul.sub-menu.level-3 > li > a {
  padding-left: 52px;
}

#sidebar-menu .sidebar-nav ul.sub-menu.level-4 > li > a, #sidebar-menu .sidebar-nav ul.sub-menu.level-5 > li > a, #sidebar-menu .sidebar-nav ul.sub-menu.level-6 > li > a {
  padding-left: 62px;
}

.sidebar-scroll.scrollator_lane_holder {
  width: 5px;
}

.sidebar-scroll.scrollator_lane_holder.hover, .sidebar-scroll.scrollator_lane_holder:hover {
  width: 5px;
}

.sidebar-scroll.scrollator_lane_holder.hover .scrollator_handle_holder, .sidebar-scroll.scrollator_lane_holder:hover .scrollator_handle_holder {
  width: 5px;
}

.sidebar-scroll .scrollator_lane {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar-scroll .scrollator_handle_holder {
  width: 5px;
}

.sidebar-scroll .scrollator_handle {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.panel-scroll.scrollator_lane_holder {
  width: 5px;
}

.panel-scroll.scrollator_lane_holder.hover, .panel-scroll.scrollator_lane_holder:hover {
  width: 5px;
}

.panel-scroll.scrollator_lane_holder.hover .scrollator_handle_holder, .panel-scroll.scrollator_lane_holder:hover .scrollator_handle_holder {
  width: 5px;
}

.panel-scroll .scrollator_lane {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel-scroll .scrollator_handle_holder {
  width: 5px;
}

.panel-scroll .scrollator_handle {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
