/**
Yii2 Chopper Template Admin - Main SCSS File
 */
body {
  font-family: "Muli", sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

p {
  margin: 0;
}

p + p {
  margin-top: 10px;
}
