#wrapper {
    position: relative;
}

#main-header {
    
}

#main-sidebar {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300;

    @media (min-width: $screen-sm-min) {
        width: $sidebar-width-sm;
        bottom: 0;
        max-height: 100%;
    }
}

#page-container {
    position: relative;
}

#page-wrapper {
    position: relative;

    @media (min-width: $screen-sm-min) {
        margin-left: $sidebar-width-sm;
    }
}

#page-content {
    padding: 15px $page-content-padding-xs;

    @media (min-width: $screen-sm-min) {
        padding-left: $page-content-padding;
        padding-right: $page-content-padding;
    }
}

#main-footer {
    position: relative;
    z-index: 500;
    min-height: $footer-height;
    text-align: center;
    font-size: 12px;
    line-height: 20px;

    padding: 10px $page-content-padding-xs;

    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-left: $page-content-padding;
        padding-right: $page-content-padding;
    }
}

