
$login-box-width: 500px;

.login-wrapper {
    
    margin: auto;
    width: 100%;
    padding: 20px $page-content-padding-xs;
    
    .login-box {
        @include box-shadow(0 0 5px 0 rgba(#555555, 0.2));
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
    }
    
    .login-logo {
        text-align: center;
        padding: 20px $page-content-padding-xs;
        @include border-top-radius(5px);
    }
    
    .login-content {
        background: #fff;
        padding: 20px $page-content-padding-xs;
        @include border-bottom-radius(5px);
        margin-bottom: 20px;
        
        h1 {
            font-size: 20px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    
    .login-footer {
        text-align: center;
    }

    @media (min-width: $login-box-width) {
        width: $login-box-width;
        padding-top: 100px;
        
        .login-logo {
            padding: 20px $page-content-padding;
        }

        .login-content {
            padding: 20px $page-content-padding;
            
            h1 {
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }
    }
}


