// this is included in the common.scss

$sidebar-closed-width: 50px;
$sidebar-menu-children-padding-close: 17px;

@media (min-width: $screen-sm-min) {
    .main-sidebar-closed {
        #main-header {
            .container-fluid {
                padding-left: 0;
            }
            
            #logo-area {
                width: $sidebar-closed-width;
                
                .logo-small {
                    display: block;
                }
                .logo-large {
                    display: none;
                }
            }
            
            .left-menu {
                margin-left: 0;
            }
        }
        
        #main-sidebar {
            width: $sidebar-closed-width;
            
            ul.sidebar-nav {
                
                li {
                    &.heading {
                        display: none;
                    }
                }

                // first menu
                > li {
                    position: relative;
                    width: $sidebar-closed-width;
                    
                    > a {
                        width: $sidebar-closed-width;
                        padding-left: 13px;
                        padding-right: 0;
                        
                        .menu-label {
                            display: none;
                        }
                        .label {
                            display: none;
                        }
                        .menu-arrow {
                            display: none;
                        }
                        
                        &.active {
                            padding-left: 13px - $sidebar-menu-active-first-level-border-size;
                        }
                    }
                    
                    &.heading + li {
                        margin-top: 20px;
                    }

                    ul.level-2 {
                        position: absolute;
                        display: none;
                        left: $sidebar-closed-width;
                        top: 100%;
                        min-width: $sidebar-width-sm;
                        z-index: 400;
                    }
                    
                    &:hover {
                        width: $sidebar-width-sm + $sidebar-closed-width;
                        > a {
                            width: $sidebar-width-sm + $sidebar-closed-width;
                            
                            .menu-label {
                                display: inline;
                                margin-left: $sidebar-menu-children-padding-close + 11px;
                            }
                            .label {
                                display: none;
                            }
                            .menu-arrow {
                                display: none;
                            }

                            &.active {
                                padding-left: 13px - $sidebar-menu-active-first-level-border-size;
                            }
                        }

                        ul.level-2 {
                            display: block !important;
                            height: auto !important; // fix for metismenu
                        }
                    }
                }
                
                ul.sub-menu {
                    &.level-2 {
                        > li > a {
                            padding-left: $sidebar-menu-children-padding-close;
                        }
                    }
                    &.level-3 {
                        > li > a {
                            padding-left: $sidebar-menu-children-padding-close + 10px;
                        }
                    }
                    &.level-4, &.level-5, &.level-6 {
                        > li > a {
                            padding-left: $sidebar-menu-children-padding-close + 20px;
                        }
                    }
                }
            }
        }
        
        #sidebar-wrapper {
            overflow-x: visible !important ;
            width: auto;
        }
        
        #page-wrapper {
            margin-left: $sidebar-closed-width;
        }
    }
}
