// this is included in the common.scss

$sidebar-closed-width: 50px;

@media (min-width: $screen-sm-min) {
    .main-sidebar-closed {
        #main-header {
            .container-fluid {
                padding-left: 0;
            }
            
            #logo-area {
                width: $sidebar-closed-width;
                
                .logo-small {
                    display: block;
                }
                .logo-large {
                    display: none;
                }
            }
            
            .left-menu {
                margin-left: 0;
            }
        }
        
        #main-sidebar {
            width: $sidebar-closed-width;
            
            ul.sidebar-nav {
                ul.level-2 {
                    display: none;
                }
                
                li {
                    &.heading {
                        display: none;
                    }
                }

                // first menu
                > li {
                    > a {
                        
                        padding-right: 5px;
                        padding-left: 13px;
                        
                        .menu-label {
                            display: none;
                        }
                        .label {
                            display: none;
                        }
                        .menu-arrow {
                            display: none;
                        }
                        
                        &.active {
                            padding-left: 13px - $sidebar-menu-active-first-level-border-size;
                        }
                    }
                    
                    &.heading + li {
                        margin-top: 20px;
                    }
                }
            }
        }
        
        #page-wrapper {
            margin-left: $sidebar-closed-width;
        }
    }
}
